.header {
  /* box-sizing: border-box; */
  max-width: 882px;
  min-width: 280px;
  min-height: 74px;
  margin: 45px auto 40px;
  padding: 0 20px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 524px) {
  .header {
    margin: 28px auto 38px;
    min-height: 54px;
  }
}
