.places__card {
  overflow: hidden;
  max-width: 282px;
  height: 361px;
  background: #FFFFFF;
  border-radius: 10px;
  justify-self: center;
  /* display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content min-content; */
}
