.places__card {
  overflow: hidden;
  min-height: 361px;
  background: #FFFFFF;
  border-radius: 10px;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content min-content;
}
